<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ titulo_site }}</title>
    </head>
    <body>
        
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Console</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td>{{ game.nome }}</td>
                        <td>{{ game.categoria }}</td>
                        <td>{{ game.console }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
</html>