{% extends "template.html" %}
{% block conteudo %}
        <div>
            <table class="table-container">
                <thead class="table-header">
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Console</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    {% for game in games %}
                    <tr>
                        <td class="table-cell">{{ game.nome }}</td>
                        <td class="table-cell">{{ game.categoria }}</td>
                        <td class="table-cell">{{ game.console }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
